.mainBox {
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

#edgeInputBox {
  width: 200px;
}

#graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

[id^='node'] {
  cursor: pointer;
}